.card{
    background-color: #6dc3c1;
    border-radius: 20px;
    margin: 30px;
    height: 100%;
}
.button-primary{
    text-align: center;
    margin-top: 100px;
}
.escoger{
    text-align: center;
    margin-top: 80px;
}
.button-secundary{
    text-align: center;
    margin-bottom: 40px;
}
.button{
    margin-top: 220px;

}
.resultado{
    text-align: center;
    margin-top: 80px;

}